QLineEdit {
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 2px 4px;
    font-size: 12px;
}

QLineEdit:focus {
    border-color: #888888;
}

QLineEdit:disabled {
    background: #e5e5e5;
    color: #888;
}