QTextEdit {
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 1px;
    font-size: 12px;
}

QTextEdit:focus {
    border-color: #888888;
}

QTextEdit:disabled {
    background: #e5e5e5;
    color: #888;
}